* {
    margin: 0px ;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header nav {
    max-width: 900px;
}

nav{
    width: 100%;
}
div.IngresarRegistrarse,
div.list-container { 
    display: none;
}

.list-home {
    list-style: none;
    display: flex;
}
div.IngresarRegistrarse a{
    font-size: 12px;
}

.list-home li{
    padding: 20px 14px;
    font-size: 12px;
}

.list-home li a {
    text-decoration: none;
    padding: 5px;
}


div.IngresarRegistrarse,
div.list-container { 
    display: none;
}

.list-home {
    list-style: none;
    display: flex;
}
div.IngresarRegistrarse a{
    font-size: 12px;
}

.list-home li{
    padding: 20px 14px;
    font-size: 12px;
}

.list-home li a {
    text-decoration: none;
    padding: 5px;
}
header { 
    background-color: #F8E2CF;
    display: flex;
    justify-content: center;
}
.header-container {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    position: relative;
}

.logo{
    width: 50px;
}

div.login-home a,
div.burger-menu a{
    font-size: 20px;
    text-decoration: none;
}

div.login-home a{
    margin: 0px 5px;
}

div.burger-menu,
div.login-home{ 
    padding: 15px 0px ;
}

div.logo-container{
    padding: 6px 0px ;
}

div.burger-menu {
    position: absolute;
    left : 18vw;
}

div.login-home {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    right: 2vw;
}

header nav .header-container div a{
    color: #BA135D;
}

/** Home **/
.banner{
    width: 100%;
}

section div .img-banner{
    width: 100%;
}

/* Populates */

.populares{
    width: 100%;
    display: flex;
    margin-top: 3%;
}

section .popular-now{
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

section div .tittle-popu{
    font-size: 3em;
}

section div .btn-popu button{
    font-size: 20px;
    padding: 10px 35px;
    margin: 10px;
}

.products{
    margin-top: 1%;
}

.description{
    text-align: center;
    color: #666;
}

/* Main */ 

main.home section article{
    background-color: #FFF;
    
}
main.home section article div{
    position: relative;
}

main.home section article img{
    width: 100%;
}

main.home{
    width: 90%;
    padding: 40px;
    margin: auto;
}

.products article{
    margin: 10px;
}

.main-article{
    border: solid 1px #ebebeb;
    padding: 15px;
}

.estilos-productos{
    text-align: center;
    font-size: 3em;
    margin: 3% 0%;
}

/* FOOTER */

footer{
    border: 2px solid black;
    margin: 10px;
}

.footer-Top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-Top .description{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    align-items: center;
}

.footer-Top article.description p,
.footer-Top .description h4{
    text-align: center;
}

.footer-Top .description .icon-des{
    margin: 0 5px;
    font-size: 40px;
}
.footer-Top .description .icon-des p{
    font-size: 8px;
}

.footer-Buttom{
    display: flex;
    border-top: 1px solid black;
    background-color: #FCD8D4;
    color: white;
    flex-direction: column;
}

.footer-Buttom article.newsletter h4,
.footer-Buttom article.red div.icon,
.footer-Buttom article.red h4 {
    display: flex;
    justify-content: center;
    font-size: 19px;
}

.footer-Buttom article.red div.icon { 
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
}
.footer-Buttom article.red div.icon i { 
    font-size: 30px;
    margin: 0 5px;
}

.footer-Buttom .red{
    margin: 10px;
}

.footer-Buttom article.newsletter { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.footer-Buttom article.newsletter h4 {
    text-align: center;
    font-size: 19px;
}


.footer-Buttom .newsletter .box{ 
    display: flex;
    align-self: center;
    flex-direction: row;
    background-color: rgb(48, 40, 61);
    border-radius: 10px;
    width: 220px;
    justify-content: space-around;
    margin-top: 10px;
}

.footer-Buttom .newsletter div.box i{
    display: flex;
    font-size: 30px;
    margin: 0 10px;
    color: #fff;
}

.footer-Buttom .newsletter div.box input{
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 10px;
    width: 140px;
}

.footer-Buttom .info{
    padding: 10px 5px;
}
.footer-Buttom .info div ul li,
.footer-Buttom .info h4 { 
    text-align: center;
}

.footer-Buttom .info div ul{
    list-style: none;
}

/*Login*/
main.class_login{
    border: 2px solid black;
    margin: 4px;
    padding: 4px;
}

main.class_login section{
    display: flex;
    align-items: center;
    flex-direction: column;
}

main section .cuerpo{
    margin: 6px;
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main section  .cuerpo .login form label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

main section .cuerpo .login,
main section .cuerpo .register {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

main section .cuerpo .login .log-Red{
margin: 4px;
display: flex;
flex-wrap: wrap;
justify-content: center;

}
main section .cuerpo .login .log-Red div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
main section .cuerpo .login .log-Red div i{
    margin: 0 10px;
}
main section .cuerpo .login .log-Red .facebook{
    text-align: center;
    padding: 3px;
    color: #fff;
    background-color: blue;
    border-radius: 5%;
}
main section .cuerpo .login .log-Red .google{
    text-align: center;
    padding: 3px;
    color:#fff;
    background-color: red;
    border-radius: 5%;
}
main section .cuerpo .login .log-Red div .o{
    text-align: center;
}
main section .cuerpo .login form {
    
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;  
}
main section .cuerpo .login form button{
    width: 50%;
    justify-content: center;
    margin: 0px 50px;
    border-radius: 5px;
    
}
main section .cuerpo .login form button:hover{
   
   background-color:#F8E2CF
}

main section .cuerpo .register button{
    width: 50%;
    justify-content: center;
    margin: 0px 50px;
    border-radius: 5px;
}
main section .cuerpo .register button:hover{
    background-color:#F8E2CF
}

/*Register*/
main .register{
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .register .log-Red div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
main .register .log-Red div i{
    margin: 0 10px;
}


main .register .log-Red .facebook{
    text-align: center;
    padding: 3px;
    color: #fff;
    background-color: blue;
    border-radius: 5%;
}

main .register .log-Red .google{
    text-align: center;
    padding: 3px;
    color:#fff;
    background-color: red;
    border-radius: 5%;
}
main .register .log-Red div .o{
    text-align: center;
}

main .register .datos form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;/**/
    justify-content: center;
}

main .register .datos div{
    width: 90%;
    margin: 2px;
}

main .register .datos div label{
    display: flex;
    flex-direction: column;
    margin: 2px;
}
main .next{
    background-color: red;
    color: #fff;
    padding: 3px;
    border-radius: 5%;

}

/* Product Detail */

main article.prod-detail{
    display: flex;
    flex-direction: column;
    margin: 0px 10px
}

div.back { 
    padding:10px 10px;
}

main article a,
main article div.cantidad,
div.back a{
    text-decoration: none;
}

div.img-container{
    position: relative;    
}

main article .img-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main article .img-sec { 
    display: none;
}
main article .img-sec img,
main article .img-principal img { 
    width: 100%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

div.slider-buttons-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 10px ;
    position: absolute;
    top: 50%;
}


main article p.nombre-prod {
    padding: 10px 0px 5px 0px;
    font-size: 20px;
    font-weight: bold;
}

main article.prod-detail div.stars { 
    display: flex;
    flex-direction: row;
    padding: 0px 0px 5px 5px;
}
main article div.stars div.score { 
    display: flex;
}
main article div.stars div.score i { 
    margin: 0px 1px;
}

main article div.stars p { 
    margin: 0px 10px;
    font-style: italic;
    font-size: 12px;
}

main article p.precio{
    font-size: 1.25rem;
    font-weight: bold;
}

main div.colors { 
    padding: 2px;    
}

main div.colors a { 
    padding: 2px 5px;
}

main div.colors a i:hover { 
    font-size: 25px;
}

main article.prod-detail div.talle { 
    margin: 2px 0px;
}

main div.talle p { 
    position: absolute;
    font-size: 10px;
    top: 26%; 
    left: 0%;
}
main div.talle a{ 
    position: relative;
    margin: 0px 5px;
    padding: 3px 14px;
    border-radius: 5px;
    background-color: #ebebeb;

}

main div.guia { 
    padding-top: 5px;
}

main p.title-recom { 
    display: flex;
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    margin-top: 20px;
    justify-content: center;
}

div.Recomendaciones { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 0px;
}
div.Recomendaciones article { 
    width: 25%;
}
div.Recomendaciones article.deMas {
    display: none;
}

div.Recomendaciones article a img{ 
    width: 100%;
}

div.Recomendaciones article:hover { 
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
main article.prod-detail p { 
    margin: 0px 10px;
}

/* Product car *//*titulo carrito con paso*/
main section h4.title { 
    display: flex;
    position: relative;
    justify-content:center;
    font-size: 25px;
    margin: 15px 0px 40px;
}
main section h4.title:before{
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    bottom: 2px;
    border-bottom: 3px solid red;
}


main section .paso{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    align-items: center;
}

main section .paso:before{
    content: "";
    position: absolute;
    width: 80%;
    bottom: 50%;
    border-bottom: 3px solid black;
    z-index: 0;
}
 
main section .paso h2{
    text-align: center ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid black ;
    padding-top: 4px;
    z-index: 1000;
    background-color: #fff;
    color: black;
}

main section .paso a { 
    z-index: 0;
}

main section .paso .pasoTres,
main section .paso .pasoCuatro,
main section .paso .pasoDos,
main section .paso .pasoUno{
    background-color: red;
    color: #fff;
} 

 /*ProductCar 2*/

 main .cuerpoCarrito{
    text-align: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
 }
 main section .cuerpoCarrito .login{
    margin: 5px;
    min-width: 300px;
 }
 main section .cuerpoCarrito .login form a{
     width: 100%;
     margin: 2px;
 }
 main section .cuerpoCarrito .login form button{
    width: 100%;
}

main section  .cuerpoCarrito .login form label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

main section .cuerpoCarrito .register form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
}
main section .cuerpoCarrito .login form {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    display: grid;  
}
main section .cuerpoCarrito .register form {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;  
}
main section .cuerpoCarrito .login form button{
    width:173px ;
    justify-content: center;
    margin: 0px 50px;
    border-radius: 5px;
    
    
}
main section .cuerpoCarrito .login form button:hover{
   background-color:#F8E2CF
}

main section .cuerpoCarrito .register button{
    width: 173px;
    justify-content: center;
    margin: 0px 50px;
    border-radius: 5px;
    margin: 10px;
    
}
main section .cuerpoCarrito .register button:hover{
    background-color:#F8E2CF
}
main section h1.title { 
    display: flex;
    position: relative;
    justify-content:center;
    font-size: 25px;
    margin: 15px 0px 40px;
}

main section .cuerpoCarrito .register {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

 /*ProductCar 3*/

 main section p.description { 
    display: flex;
    text-decoration:underline black;
    font-size: 25px;
    justify-content: center;
    margin: 20px 0px;
    font-weight: bold;
}

main section div.form { 
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    justify-content: space-around;
}

main section div.form form label{ 
    display: flex;
    flex-direction: column;
    padding: 7px 0px ;
}
main section div.form form label select,
main section div.form form label input { 
    width: 90%;
}

main div.bEnv  { 
    display: flex;
    justify-content: center;
}

main div.bEnv button { 
    font-size: 20px;
    color: white;
    background-color: red;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    padding: 2px;
}

 /*ProductCar 1 y 4*/
 main p.title-1-prodCart{ 
    margin: 10px 20px 0px 20px;
}

main section.det-compra {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

main section.det-compra:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

article.detalle-prod{
    display: flex;
    flex-direction: row;
    margin: 5px;
}

section.det-compra .detalle-prod img{ 
    width: 130px;
}
article.detalle-prod div,
article.detalle-prod img{ 
    margin:0px 5px   ;
} 

section.det-compra article.detalle-prod form input { 
    width: 60px;
}
section.det-compra article.precio {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

section.det-compra article.precio div { 
    margin: 0px 10px  
}
section.det-compra article.boton{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}


.total h5{
    margin: 20px;
    text-align: end;
 }


 main article.adress div{
     margin: 10px;
     padding: 2px 10px;
     border: 2px solid black;
     width: 200px;
 }

main article.adress div:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100)
}

 main article.adress div.facturacion{
    width: 230px;
}

main article.pago div{
    margin: 10px;
    padding: 2px 10px;
    border: 2px solid black;
    border-top: 5px solid black;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

main article.pago div:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border-top: 5px solid red;
}

main article.pago div h3{
    width: 60%;
}

main article.pago div i{
    font-size: 50px;
    width: 35%;
}

main article.pago div img{
    width: 80px;
}

@media (min-width:370px){

    .logo{
        display: flex;
        justify-content: flex-start;
        width: 11vw;
    }

    div.burger-menu {
        left : 15vw;
    }

    div.burger-menu a,
    div.login-home a {
        font-size: 5vw;
    }
    
    .footer-Top .description { 
        width: 35%;
    }

    .footer-Buttom {
        min-width: 30%;
    }

    .footer-Buttom{
        align-self: center;
    }


    .footer-Buttom .newsletter .box{
        width: 220px;
    }
    /* Home */

    .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .products article{
        width: 45%;
    }

    /*REGISTER*/

    main .register .datos form{
        flex-direction: row;/**/
    }
    
    main .register .datos div{
        width: 45%;
        
    }
    main .register .datos{
        flex-direction: row;
        justify-content: center;
        max-width: 700px;
        margin: 20px;
    }

    main .register .datos .box{
        width: 30%;
    }

    /* Product Detail */

    div.slider-buttons-container{
        display: none;
    }

    main article.prod-detail{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

     article.prod-detail div.product-description { 
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    main article.prod-detail .img-container { 
        width: 45%;
    }
    main article .img-sec,
    main article .img-principal { 
        display: flex;
        margin-bottom: 10px;
    }
    main article div.product-description p.nombre-prod{
        padding-top: 0px;
    }
    main article div.product-description div.description p.title { 
        font-size: 20px;
        font-weight: bold;
        padding: 0px 10px 0px 0px ;
    }

    /*carrito 4*/

    main article.adress{
        display: flex;
        flex-wrap: wrap;
    }

    main article.pago{
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 700px){
    
    .logo{
        width: 50px;
    }
    .header-container .list-container,
    .header-container .IngresarRegistrarse{
        display: block;
    }
    
    div.burger-menu{
        display: none;
    }

    div.login-home {
        position: static;
    }

    div.login-home a {
        font-size: 15px;
        justify-content: flex-end;
    }
    div.login-home .IngresarRegistrarse a{
        font-size: 12px;
    }

    /* Footer */
    .footer-Top { 
        flex-wrap: nowrap;
    }
    .footer-Top .description{
        width: 25%;
     }

    .holis{
        text-align: center;
    }
    
    .contenedor-login{
        display: flex;
        justify-content: space-between;
    }

    .footer-Buttom {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
    }

    .footer-Buttom article{
        display: flex;
        width: 40%;
        flex-direction: column;
        justify-content: center;
    }
    
    
    /*Login*/
    main.class_login section .cuerpo {
        max-width: 1400px;
        flex-direction: row;
     }

     main section .cuerpo .login {
         
         float: left;
         
     }
     main section .cuerpo .register{
         width:300px;
          height:auto; 
          float:left;
           display:inline;
     }
      main section .cuerpo .register ul li{
          margin: 2px;
      }
      main section .cuerpo .login{
         display:inline-block
      }
      main section .cuerpo .register{
         display:inline-block
      }

      main section .cuerpo article{
        flex-direction: row;
        width: 45%;
    }
    /*Register*/

    /* Product Detail */

    main article div.img-container {
        display: flex;
        width: 50%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    main article div.img-principal,
    main article div.img-sec{ 
        width: 45%;
        margin: 0px;
        flex-direction: row;
        align-items: normal;
    }
    main article div.img-container img { 
        box-shadow: 0px 0px white;        
    }
    main  div.Recomendaciones article.deMas { 
        display: block;
    }
    main div.Recomendaciones article { 
        width: 190px;
    }

    /*Product car*/
    /*Product car2*/

    main section .cuerpoCarrito {
        display: flex;
        flex-direction: row;
        padding: 10px;
     }
     main section .cuerpoCarrito .login {
         float: left;
         
     }
     main section .cuerpoCarrito .register{
        width:300px;
        height:auto; 
        float:left;
        display:inline;
     }
     
      main section .cuerpoCarrito .login{
         display:inline-block
      }
      main section .cuerpoCarrito .register{
         display:inline-block
      }
     
     
     main section .cuerpoCarrito article{
         flex-direction: row;
     }

    /*Product car3*/
    main section div.form{
        flex-direction: row;
    }
    
    /* Home */
    .products article{
        width: 20%;
    }

    .products article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }


}