<header>
    <nav>
        <div class="header-container">

            <div class="logo-container">
                <a href="/"><img src="/images/Logo4.svg" alt="logo de LSKV" class="logo"></a>
            </div>

            <div class = "list-container">
                <ul class="list-home">
                       <li><a href="/product/productList">Productos</a></li>
                     <li><a href="#">Locales</a></li>
                     <li><a href="#">Promos y Cuotas</a></li>
                     <li><a href="#">Empresa</a></li>
                     <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            
            <div class="burger-menu">
                <a href = "#"><i class="fa fa-bars burger"></i></a>
            </div>

            <div class="login-home">
                <a href="#"><i class="fas fa-search"></i></a>
                <a href="/productCart"><i class="fas fa-shopping-bag"></i></a>
                <a href="#"><i class="fas fa-user"></i></a>
                <div class = "IngresarRegistrarse">
                     <a href="/login">Ingresar</a>
                      /
                     <a href="/register">Registrarse</a>
                </div>
            </div>

        </div>
    </nav>
</header>