<!DOCTYPE html>
<html lang="es">
    <%- include( '../partials/head') %>

    <body>
        <%- include('../partials/header') %>

       
        <main class="home">
            <section class="banner">
                <div>
                   <img src="images/women5-fashion.PNG" alt="" class="img-banner">
               </div>
           </section>
   
           <section class="populares">
               <div class="popular-now">
                   <h1 class="tittle-popu">Popular ahora</h1>
                   <div class="btn-popu">
                       <button>Blusas</button>
                       <button>Jean</button>
                       <button>Short</button>
                       <button>Vestidos</button>
                   </div>
               </div>
           </section>
            <section class>
                <div class="products">
                    <article>
                        <img src="images/blusa.PNG" alt="Blusas y remeras" class="product_img">
                        <div class="main-article">
                            <h4 class="description">BLUSAS Y REMERAS</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/vestido.PNG" alt="Vestidos y monos" class="product_img">
                        <div class="main-article">
                            <h4 class="description">VESTIDOS Y MONOS</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/short.PNG" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                        <div class="main-article">
                            <h4 class="description">SHORTS Y FALDAS</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/jean.PNG" alt="SmartTv Samsung" class="product_img">
                        <div class="main-article">
                            <h4 class="description">JEANS</h4>
                        </div>
                    </article>
                </div>

                <h1 class="estilos-productos">ESTILOS</h1>
                <div class="products">
                    <article>
                        <img src="images/casual-style.PNG" alt="Blusas y remeras" class="product_img">
                        <div class="main-article">
                            <h4 class="description">CASUAL</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/trendy-style.PNG" alt="Vestidos y monos" class="product_img">
                        <div class="main-article">
                            <h4 class="description">TRENDY</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/minimalista-style.PNG" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                        <div class="main-article">
                            <h4 class="description">MINIMALISTA</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/hipster-style.PNG" alt="SmartTv Samsung" class="product_img">
                        <div class="main-article">
                            <h4 class="description">HIPSTER</h4>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <%- include('../partials/footer') %> 
       
    </body>
</html>